.article {
  max-width: 800px;
  max-height: -moz-max-content;
  max-height: max-content;
  overflow: hidden;
  border: 1px solid hsl(26, 26%, 33%);
  background-color: white;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}
.article__meta {
  font-size: 16px;
  font-family: "PT Serif Caption", serif;
  color: #a8a7a7;
  font-style: italic;
  margin: 0;
}
.article__perex {
  font-weight: 700;
}
.article__img {
  max-width: 100%;
  width: 300px;
  float: left;
  height: auto;
  display: block;
  margin: 0 15px 5px 0;
  border-radius: 8px;
}
@media (max-width: 800px) {
  .article__img {
    float: none;
    display: block;
    margin: 1rem auto;
    width: 100%;
  }
}

html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  background-color: #fef6e5;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  margin: 0;
  color: rgb(27, 27, 27);
  font-family: "PT Serif Caption", serif;
  font-size: 22px;
}

h2 {
  margin: 0;
  color: rgb(27, 27, 27);
  font-family: "PT Serif Caption", serif;
  font-size: 20px;
}

.main__img {
  width: 300px;
  border-radius: 8px;
}

.gallery__img {
  width: 200px;
  border-radius: 8px;
  box-shadow: #A0A7AB 2px 3px 4px;
}

body {
  margin: 0;
  padding: 0;
}
@media (max-width: 800px) {
  body {
    background-image: url("../images/catcher.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 1rem;
  gap: 1rem;
}
@media screen and (min-width: 800px) {
  .container {
    background-image: none;
    background-color: hsl(47, 43%, 79%);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr) 80px;
    align-content: stretch;
    grid-template-areas: "klub         aktuality" "nabor        aktuality" "trenink      turnaje" "fotogalerie  kontakty" "footer       footer";
  }
  .container .section--klub {
    grid-area: klub;
  }
  .container .section--aktuality {
    grid-area: aktuality;
  }
  .container .section--nabor {
    grid-area: nabor;
  }
  .container .section--trenink {
    grid-area: trenink;
  }
  .container .section--turnaje {
    grid-area: turnaje;
  }
  .container .section--fotogalerie {
    grid-area: fotogalerie;
  }
  .container .footer {
    grid-area: footer;
  }
}

.container > * {
  width: 100%;
}

.header {
  position: relative;
  height: 150px;
}
@media screen and (min-width: 800px) {
  .header {
    height: 350px;
    background-image: url(../images/catcher.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.header__logo {
  width: 200px;
  position: absolute;
  left: 15px;
  top: 15px;
  height: auto;
}
@media screen and (min-width: 800px) {
  .header__logo {
    width: 100%;
    max-width: 300px;
  }
}

.menu__checkbox {
  display: none;
}

.menu__toggler {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 100;
  font-size: 2rem;
  color: hsl(47, 43%, 79%);
}

.menu__icon {
  width: 60px;
  height: auto;
  vertical-align: middle;
  margin-left: 15px;
  margin-top: 15px;
}

.menu__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: hsl(26, 26%, 33%);
  width: 200px;
  position: absolute;
  top: 100px;
  right: 80px;
}

.menu__item {
  border-bottom: 1px solid #A0A7AB;
}

.menu__link {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: hsl(47, 43%, 79%);
}

.menu__link:hover {
  background-color: hsl(26, 65%, 61%);
}

.menu__checkbox:checked ~ .menu__list {
  display: block;
}

@media screen and (min-width: 800px) {
  .header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .menu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .menu__checkbox,
  .menu__toggler {
    display: none;
  }
  .menu__list {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    height: 100%;
    padding: 0 15px;
    list-style: none;
    background-color: hsl(26, 26%, 33%);
    width: 100%;
    position: static;
  }
  .menu__item {
    border: none;
  }
  .menu__link {
    display: inline-block;
    margin: 0;
    padding: 10px 15px;
    color: hsl(47, 43%, 79%);
    text-decoration: none;
    font-weight: bold;
  }
  .menu__link:hover {
    background-color: hsl(26, 65%, 61%);
  }
}
.aktuality__logo {
  width: 150px;
}

.section__logo {
  max-width: 50%;
  width: 100px;
  height: auto;
}

.section {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  gap: 1rem;
  box-shadow: rgb(59, 59, 59) 2px 3px 8px;
}

.section--aktuality, .section--nabor, .section--turnaje, .section--fotogalerie {
  background-color: hsla(26, 77%, 49%, 0.6);
}

.section--klub, .section--trenink, .section--kontakty {
  background-color: hsla(47, 43%, 79%, 0.6);
}

.section__title {
  text-decoration: none;
  color: rgb(27, 27, 27);
  cursor: pointer;
}

.section__title:hover {
  color: #f5f511;
}

.footer {
  background-color: hsl(26, 26%, 33%);
  color: hsl(47, 43%, 79%);
  text-align: center;
  font-weight: 700;
  margin: 0;
  border-radius: 8px;
  padding: 10px;
}

.main__title {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.main__nav {
  text-align: center;
  margin-top: 2rem;
}

.main__button {
  width: 60px;
  height: auto;
}

.main--club, .main--recruitment, .main--training, .main--action, .main--contact, .main--gallery, .main--aktuality {
  background-color: #fef6e5;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
}
.main--club .main, .main--recruitment .main, .main--training .main, .main--action .main, .main--contact .main, .main--gallery .main, .main--aktuality .main {
  width: 800px;
  padding: 20px;
}
.main--club .main__img, .main--recruitment .main__img, .main--training .main__img, .main--action .main__img, .main--contact .main__img, .main--gallery .main__img, .main--aktuality .main__img {
  max-width: 100%;
  height: auto;
}
.main--club .main__img--float-left, .main--recruitment .main__img--float-left, .main--training .main__img--float-left, .main--action .main__img--float-left, .main--contact .main__img--float-left, .main--gallery .main__img--float-left, .main--aktuality .main__img--float-left {
  float: left;
  width: 300px;
  height: auto;
  margin: 1rem 1.5rem 1.5rem 0;
  border-radius: 8px;
}
@media (max-width: 750px) {
  .main--club .main__img--float-left, .main--recruitment .main__img--float-left, .main--training .main__img--float-left, .main--action .main__img--float-left, .main--contact .main__img--float-left, .main--gallery .main__img--float-left, .main--aktuality .main__img--float-left {
    float: none;
    display: block;
    margin: 0 auto 1rem auto;
  }
}
.main--club .main__img--float-right, .main--recruitment .main__img--float-right, .main--training .main__img--float-right, .main--action .main__img--float-right, .main--contact .main__img--float-right, .main--gallery .main__img--float-right, .main--aktuality .main__img--float-right {
  float: right;
  width: 300px;
  height: auto;
  margin: 1rem 0 1.5rem 1.5rem;
  border-radius: 8px;
}
@media (max-width: 750px) {
  .main--club .main__img--float-right, .main--recruitment .main__img--float-right, .main--training .main__img--float-right, .main--action .main__img--float-right, .main--contact .main__img--float-right, .main--gallery .main__img--float-right, .main--aktuality .main__img--float-right {
    float: none;
    display: block;
    margin: 0 auto 1rem auto;
  }
}

.gallery {
  width: 800px;
  overflow: hidden;
  padding: 15px;
  border: 1px solid hsl(26, 26%, 33%);
  border-radius: 8px;
  background-color: white;
}

.gallery__title--small {
  font-size: 16px;
  color: #a8a7a7;
  font-style: italic;
  margin-bottom: 15px;
}

.gallery__section {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  grid-area: "prvni druhy treti" "ctvrty paty sesty" "sedmy osmy devaty";
}
@media (max-width: 750px) {
  .gallery__section {
    max-width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 5px;
  }
  .gallery__section .gallery__img {
    width: 350px;
  }
}/*# sourceMappingURL=style.css.map */