@use "promenne";


  .article {
    max-width: 800px;
    max-height: max-content;
    overflow: hidden;
    border: 1px solid promenne.$c-primary;
    background-color: white;
    margin: 0 auto;
    padding: promenne.$spacer;
    border-radius: promenne.$border-radius;  
    
    &__meta {
    font-size: 16px;
    font-family: promenne.$headline;
    color: #a8a7a7;
    font-style: italic;
    margin: 0;
     }
    
    &__perex {
    font-weight: 700;
    }

    &__img {
    max-width: 100%;
    width: 300px;
    float: left;
    height: auto;
    display: block;
    margin: 0 15px 5px 0;
    border-radius: promenne.$border-radius;

      @media (max-width: 800px) {
        float: none;
        display: block;
        margin: 1rem auto;
        width: 100%;
      }
    }

  }






  
