@use "promenne";


// GRID MOBIL


.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 1rem;
    gap: 1rem;

// OBRÁZEK NA POZADÍ
    background-image: url(../images/catcher.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


// GRID TABLET
        @media screen and (min-width: 800px){
        background-image: none;
        background-color: promenne.$c-section2;

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 300px repeat(4, 1fr) 80px;
        align-content: stretch;
 

        .header{
            grid-area: header;
            height: 300px;
        }

        .klub{
            grid-area: klub;
        }

        .aktuality{
            grid-area: aktuality;
        }

        .nabor{
            grid-area: nabor;
        }

        .trenink{
            grid-area: trenink;
        }

        .turnaje{
            grid-area: turnaje;
        }

        .fotogalerie{
            grid-area: fotogalerie;
        }

        .footer{
            grid-area: footer;
        }

        grid-template-areas: 
        "header    header     "
        "klub      aktuality   "
        "nabor   aktuality   "
        "trenink   turnaje   "
        "fotogalerie   kontakty "
        "footer     footer     "
        ;       
    }

}