// PROMĚNNÉ BARVY
$c-background: #fef6e5; // barva patičky
$c-font: rgb(27, 27, 27); // hlavní text a nadpisy
$c-hover: #f5f511; // text hover
$c-primary: hsl(26, 26%, 33%); // barva pro menu
$c-section1: hsl(26, 65%, 61%); // barva pro sekce
$c-section2: hsl(47, 43%, 79%); // barva pro sekce a písmo patičky
$menu-hover: #f5b608d8; // menu hover
$c-secondary: #A0A7AB; // barva patičky

// PROMĚNNÉ PÍSMO
$main-size: 16px; // velikost textu
$main-lineheight: 1.5; // řádkování
$main-font: "Open Sans", sans-serif; // styp odstavců
$headline: "PT Serif Caption", serif; //nadpisy
$headline-size: 22px; // velikost h1
$headline-size2: 18px; // velikost h2

// PROMĚNNÉ PADDING
$spacer: 20px; // uvnitř boxů
$spacer-img: 15px; //odsazení img

// PROMĚNNÉ IKONY A OBRÁZKY
$button-width: 60px;  // šířka ikon
$img-width: 300px;  // šířka obrázků v textu
$img-gallery-width: 200px;  // šířka obrázků v galerii
$border-radius: 8px;  // šířka obrázků v textu