html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

// PROMĚNNÉ
$c_font: rgb(27, 27, 27); 
$c_hover: yellow; 
$b_font-size: 16px;
$b_lineheight: 1.5;
$b_font: "Open Sans", sans-serif;
$headline: "PT Serif Caption", serif;
$headline-size: 20px;
$c_primary: #6A513E;
$c_section1: #DC925A;
$c_section2: #E0D6B2;
$c_secondary: #A0A7AB;
$spacer: 20px;

// BODY

body{
    background-color: whitesmoke;
}

// PÍSMO

body{
    font-family: $b_font;
    font-size: $b_font-size;
    margin: 0;
    line-height: $b_lineheight;
}

h1{
    color: $c_font;
    font-family: $headline;
    font-size: $headline-size;
    margin: 0;
}

// GRID

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 1rem;
    gap: 1rem;
}

.container > * {
  width: 100%;
}

.aktuality__logo{
    width: 150px;
}


//HLAVIČKA

.header{
    background-image: url(../images/catcher.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    position: relative;
}

.header__logo{
    max-width: 20%;
    position: absolute;
    right: 10px;
    top: 10px;
    height: auto;
}


// HAMBURGER

.menu__checkbox{
display: none;

}

.menu__toggler{
    cursor: pointer;
}

.menu__icon {
  width: 80px;
  height: auto;
  vertical-align: middle;
  margin-left: 50px;
}


.menu__list {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: $c_primary;
    width: 200px;
}

.menu__item{
    border-bottom: 1px solid whitesmoke;
}

.menu__link{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.menu__link:hover{
    background-color: #c26d2d;
}

.menu__checkbox:checked ~ .menu__list{
    display: block;
}


//SEKCE

.aktuality, .nabor, .turnaje, .fotogalerie{
    background-color: $c_section1;
    padding: $spacer;
    border-radius: 20px;
}    

.klub, .trenink, .kontakty{
    background-color: $c_section2;
    padding: $spacer;
    border-radius: 20px;
}

.footer{
    background-color: $c_secondary;
    text-align: center;
    font-weight: 700;
}

